@import "functions";

:root
{
	--oxford-blue       : hsla(219, 43%, 16%, 1);
	--paynes-gray       : hsla(218, 20%, 36%, 1);
	--isabelline        : hsla(30, 33%, 93%, 1);
	--seasalt           : hsla(30, 29%, 97%, 1);
	--medium-slate-blue : hsla(264, 100%, 69%, 1);
	--steel-pink        : hsla(292, 76%, 54%, 1);
	--sandy-brown       : hsla(31, 100%, 65%, 1);

	box-sizing          : border-box;
}

*,
::before,
::after
{
	margin     : 0;
	padding    : 0;
	box-sizing : inherit;
}

body
{
	font-family         : "Epilogue", system-ui;
	font-optical-sizing : auto;
	line-height         : ratio(28, 16);
	color               : var(--oxford-blue);
	background-color    : var(--seasalt);
}

::selection
{
	color            : var(--seasalt);
	background-color : var(--medium-slate-blue);
}

img
{
	font-style        : italic;
	vertical-align    : middle;
	max-inline-size   : 100%;
	block-size        : auto;
	shape-margin      : 1rem;
	background-repeat : no-repeat;
	background-size   : cover;
	user-select       : none;
}


// Typography -------------------------------------------------------------------

h1, h2, h3, h4
{
	font-weight : inherit;
	text-wrap   : balance;
}

.body
{
	letter-spacing : toRem(0.09);
}

.bold
{
	font-weight : bold;
}

.heading-xl
{
	font-size   : toRem(38);
	line-height : ratio(44, 38);
}

.heading-l
{
	font-size   : toRem(48);
	line-height : ratio(56, 48);
}

.heading-m,
.heading-s
{
	text-transform : uppercase;
}

.heading-m
{
	font-size      : toRem(18);
	line-height    : ratio(32, 18);
	letter-spacing : toRem(-0.18);
}

.heading-s
{
	font-size      : toRem(16);
	line-height    : ratio(26, 16);
	letter-spacing : toRem(2.5);
}

.heading-i
{
	font-size      : toRem(40);
	line-height    : ratio(48, 40);
	letter-spacing : toRem(-0.42);
}

.quote
{
	font-size      : toRem(18);
	line-height    : ratio(32, 18);
	letter-spacing : toRem(0.09);
}


// Navigation -------------------------------------------------------------------

nav > ul
{
	display     : flex;
	align-items : center;
	list-style  : none;
}

header nav > ul
{
	justify-content : space-between;
}

footer nav > ul
{
	column-gap : toRem(28);

	> li > a:active
	{
		opacity : 0.5;
	}
}

.logo
{
	position : relative;
	top      : toRem(5);
}


// Header -----------------------------------------------------------------------

header
{
	padding-inline  : toRem(16);
	max-inline-size : toRem(375);
	margin-inline   : auto;

	nav
	{
		padding-block-start : toRem(24);
	}

	h1
	{
		margin-block-start : toRem(90);
	}

	p
	{
		margin-block-start : toRem(31);
	}

	> .button
	{
		margin-block-start : toRem(34);
	}

	> .button
	{
		margin-block-end : toRem(56);
	}

	> ul
	{
		text-align         : center;
		margin-block-start : toRem(55);
		list-style         : none;
	}

	> ul > li + li
	{
		margin-block-start : toRem(32);
	}

	.heading-s
	{
		margin-block-start : toRem(1);
	}

	.curve
	{
		position           : absolute;
		inset-inline-start : toRem(105);
		inset-block-start  : toRem(125);
		transform          : scale(0.54);
	}
}


// Main -------------------------------------------------------------------------

main > div
{
	text-align          : center;
	position            : relative;
	max-inline-size     : toRem(375);
	padding-inline      : toRem(16);
	padding-block-start : toRem(255);
	padding-block-end   : toRem(64);
	margin-inline       : auto;
	margin-block-start  : toRem(238);
	color               : var(--seasalt);
	background-color    : var(--oxford-blue);
	border-radius       : toRem(15);
	background-image    : url("../assets/pattern-blur.svg");
	background-position : 50% -140%;
	background-repeat   : no-repeat;

	picture
	{
		position          : absolute;
		inset-block-start : toRem(-174);
		inset-inline      : 0;
	}

	.arrow
	{
		transform : scale(0.76);
	}

	.heading-i
	{
		margin-block-start : toRem(21);
	}

	.quote
	{
		margin-block-start : toRem(38);
	}

	figcaption
	{
		margin-block-start : toRem(40);
	}
}


// Footer -----------------------------------------------------------------------

footer
{
	font-size           : toRem(15);
	line-height         : ratio(32, 15);
	letter-spacing      : toRem(0.08);
	text-align          : center;
	padding-block-start : toRem(185);
	padding-block-end   : toRem(68);
	margin-block-start  : toRem(-134);
	background-color    : var(--isabelline);

	> * + *
	{
		margin-block-start : toRem(33);
	}

	> nav
	{
		margin-block-start : toRem(32);
	}

	> nav > ul > li:first-child
	{
		margin-inline-start : auto;
	}

	> nav > ul > li:last-child
	{
		margin-inline-end : auto;
	}
}


// Utilities --------------------------------------------------------------------

.button
{
	display             : inline-block;
	font-size           : toRem(14);
	line-height         : ratio(24, 14);
	font-weight         : bold;
	letter-spacing      : toRem(-0.14);
	text-decoration     : none;
	padding-inline      : toRem(16);
	padding-block-start : toRem(9);
	padding-block-end   : toRem(5);
	color               : inherit;
	border              : 2px solid;
	border-radius       : toRem(6);
	transition          : all 100ms ease-in-out;
	user-select         : none;

	&:active
	{
		color            : var(--seasalt);
		background-color : var(--oxford-blue);
		border-color     : var(--oxford-blue);
	}
}

@property --j
{
	syntax        : "<number>";
	initial-value : 0;
	inherits      : false;
}

.button.primary
{
	--j              : 0;
	--full           : calc((1 - var(--j)) * 100%);
	--half           : calc(49% + (1 - var(--j)) * 51%);

	font-size        : toRem(18);
	line-height      : ratio(32, 18);
	letter-spacing   : toRem(-0.18);
	padding-inline   : toRem(32);
	padding-block    : toRem(14);
	color            : var(--seasalt);
	border           : none;
	background-image : linear-gradient(150deg, var(--oxford-blue) var(--full), var(--medium-slate-blue) var(--full), var(--steel-pink) var(--half), var(--sandy-brown) 100%);
	transition       : --j 150ms ease-in-out;

	&:active
	{
		--j : 1;
	}
}


.lighter
{
	color : var(--paynes-gray);
}


// ------------------------------------------------------------------------------
// Tablet -----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(768))
{
	header,
	main,
	footer
	{
		max-inline-size : toRem(768);
		margin-inline   : auto;
	}


	// Typography ---------------------------------------------------------------

	.heading-xl
	{
		font-size      : toRem(56);
		line-height    : ratio(64, 56);
		letter-spacing : toRem(-0.78);
	}


	// Navigation ---------------------------------------------------------------

	.logo
	{
		top : toRem(1);
	}


	// Header -------------------------------------------------------------------

	header
	{
		display               : grid;
		grid-template-columns : auto toRem(281);
		justify-items         : start;
		position              : relative;
		padding-inline        : toRem(40);

		> *
		{
			grid-column-start : 1;
			grid-column-end   : span 2;
		}

		nav,
		h1,
		p,
		> .button
		{
			grid-row-end : span 1;
		}

		nav,
		> ul
		{
			justify-self : stretch;
		}

		nav
		{
			grid-row-start      : 1;
			padding-block-start : toRem(40);
			margin-block-end    : toRem(78);
		}

		h1,
		picture
		{
			grid-row-start : 2;
		}

		p
		{
			grid-row-start     : 3;
			max-inline-size    : 40ch;
			margin-block-start : toRem(38);
		}

		> .button
		{
			grid-row-start     : 4;
			margin-block-start : toRem(41);
		}

		> ul
		{
			display            : flex;
			justify-self       : stretch;
			justify-content    : space-around;
			grid-row-start     : 5;
			margin-block-start : toRem(72);
		}

		> ul > li + li
		{
			margin-block-start : unset;
		}

		picture
		{
			grid-row-end      : span 4;
			grid-column-start : 2;
			grid-column-end   : span 1;
			z-index           : -1;
		}

		.curve
		{
			inset-inline-start : toRem(197);
			inset-block-start  : toRem(214);
			transform          : scale(0.8);
		}
	}


	// Main ---------------------------------------------------------------------

	main
	{
		padding-inline : toRem(40);
	}

	main > div
	{
		max-inline-size     : unset;
		padding-inline      : toRem(58);
		padding-block-start : toRem(255);
		margin-block-start  : toRem(274);
	}


	// Footer -------------------------------------------------------------------

	footer
	{
		display             : flex;
		justify-content     : space-between;
		padding-inline      : toRem(40);
		padding-block-start : toRem(535);
		padding-block-end   : toRem(73);
		margin-block-start  : toRem(-464);

		> * + *
		{
			margin-block-start : unset;
		}

		> nav
		{
			position           : relative;
			inset-block-start  : toRem(8);
			margin-block-start : unset;
		}

		> nav > ul > li:first-child
		{
			margin-inline-start : unset;
		}

		> nav > ul > li:last-child
		{
			margin-inline-end : unset;
		}
	}


	// Utilities ----------------------------------------------------------------

	.button
	{
		font-size           : toRem(16);
		line-height         : ratio(32, 16);
		letter-spacing      : toRem(-0.16);
		padding-block-start : toRem(10);
		padding-block-end   : toRem(12);
		padding-inline      : toRem(24);
	}
}


// ------------------------------------------------------------------------------
// Desktop ----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(1440))
{
	body
	{
		font-size   : toRem(18);
		line-height : ratio(32, 18);
	}

	header,
	main,
	footer
	{
		max-inline-size : toRem(1440);
		padding-inline  : toRem(164);
		margin-inline   : auto;
	}


	// Typography ---------------------------------------------------------------

	.body
	{
		letter-spacing : toRem(0.1);
	}

	.heading-xl
	{
		font-size      : toRem(72);
		line-height    : ratio(78, 72);
		letter-spacing : toRem(-0.1);
	}

	.heading-l
	{
		font-size      : toRem(48);
		line-height    : ratio(56, 48);
		letter-spacing : toRem(-0.5);
	}

	.heading-i
	{
		font-size      : toRem(48);
		line-height    : ratio(56, 48);
		letter-spacing : toRem(-0.5);
	}

	.quote
	{
		font-size      : toRem(20);
		line-height    : ratio(35, 20);
		letter-spacing : toRem(0.11);
	}


	// Header -------------------------------------------------------------------

	header
	{
		grid-template-columns : 237fr 175fr 143fr;

		nav
		{
			grid-column-end     : span 3;
			padding-block-start : toRem(50);
			margin-block-end    : toRem(65);
		}

		h1
		{
			margin-block-start : toRem(103);
		}

		p
		{
			margin-block-start : toRem(40);
		}

		> .button
		{
			margin-block-start : toRem(52);
		}

		> ul
		{
			display            : unset;
			justify-self       : unset;
			justify-content    : unset;
			grid-row-start     : 2;
			grid-row-end       : span 3;
			grid-column-start  : 3;
			text-align         : unset;
			margin-inline      : auto;
			margin-block-start : toRem(106);
		}

		> ul > li + li
		{
			margin-block-start : toRem(63);
		}

		.curve
		{
			inset-inline-start : toRem(300);
			transform          : unset;
		}
	}


	// Main ---------------------------------------------------------------------

	main > div
	{
		text-align           : unset;
		padding-inline-start : toRem(634);
		padding-inline-end   : toRem(125);
		padding-block-start  : toRem(88);
		padding-block-end    : toRem(87);
		margin-block-start   : toRem(199);
		background-position  : 7% 500%;

		picture
		{
			inset-inline-start : toRem(122);
			inset-block-start  : unset;
			inset-block-end    : 0;
			pointer-events     : none;
		}

		.arrow
		{
			position           : absolute;
			inset-inline-start : toRem(525);
			inset-block-start  : toRem(252);
			transform          : unset;
		}

		.heading-i
		{
			margin-block-start : unset;
		}

		.quote
		{
			margin-block-start : toRem(41);
		}
	}


	// Footer -------------------------------------------------------------------

	footer
	{
		padding-block-start : toRem(359);
		margin-block-start  : toRem(-265);
	}


	// Animation --------------------------------------------------------------------

	@media (prefers-reduced-motion : reduce)
	{
		*
		{
			animation           : none !important;
			transition-duration : 0s !important;
		}
	}

	.animate
	{
		--duration           : 450ms;
		--stagger            : 0.4;
		--delay              : calc(var(--i) * var(--stagger) * var(--duration));

		animation-duration   : var(--duration);
		animation-delay      : var(--delay);
		animation-play-state : var(--play-state, running);
	}

	.slide-in
	{
		animation-timing-function : ease-in-out;
		animation-fill-mode       : both;
		animation-name            : slide-in;
	}

	.slide-in.reverse
	{
		animation-name : slide-in-reverse;
	}

	@keyframes slide-in
	{
		from
		{
			opacity   : 0;
			transform : translateX(-3vw);
		}

		to
		{
			opacity   : 1;
			transform : translateX(0);
		}
	}

	@keyframes slide-in-reverse
	{
		from
		{
			opacity   : 0;
			transform : translateX(3vw);
		}

		to
		{
			opacity   : 1;
			transform : translateX(0);
		}
	}
}
