@import "functions";

:root
{
	--oxford-blue       : hsla(219, 43%, 16%, 1);
	--paynes-gray       : hsla(218, 20%, 36%, 1);
	--isabelline        : hsla(30, 33%, 93%, 1);
	--seasalt           : hsla(30, 29%, 97%, 1);
	--medium-slate-blue : hsla(264, 100%, 69%, 1);
	--steel-pink        : hsla(292, 76%, 54%, 1);
	--sandy-brown       : hsla(31, 100%, 65%, 1);

	box-sizing          : border-box;
}

*,
::before,
::after
{
	margin     : 0;
	padding    : 0;
	box-sizing : inherit;
}

body
{
	font-family         : "Epilogue", system-ui;
	font-optical-sizing : auto;
	line-height         : ratio(28, 16);
	color               : var(--oxford-blue);
	background-color    : var(--isabelline);
}

::selection
{
	color            : var(--isabelline);
	background-color : var(--medium-slate-blue);
}


// Typography -------------------------------------------------------------------

h1, h2, h3, h4
{
	font-weight : inherit;
	text-wrap   : balance;
}

.body
{
	letter-spacing : toRem(0.09);
}

.bold
{
	font-weight : bold;
}

.heading-xl
{
	font-size   : toRem(38);
	line-height : ratio(44, 38);
}

.heading-l
{
	font-size   : toRem(48);
	line-height : ratio(56, 48);
}

.heading-m,
.heading-s
{
	text-transform : uppercase;
}

.heading-m
{
	font-size      : toRem(18);
	line-height    : ratio(32, 18);
	letter-spacing : toRem(-0.18);
}

.heading-s
{
	font-size      : toRem(16);
	line-height    : ratio(26, 16);
	letter-spacing : toRem(2.5);
}

.heading-i
{
	font-size      : toRem(40);
	line-height    : ratio(48, 40);
	letter-spacing : toRem(-0.42);
}

.quote
{
	font-size      : toRem(18);
	line-height    : ratio(32, 18);
	letter-spacing : toRem(0.09);
}


// Footer -----------------------------------------------------------------------

footer
{
	font-size      : toRem(15);
	line-height    : ratio(32, 15);
	letter-spacing : toRem(0.08);
}


// Utilities --------------------------------------------------------------------

.button
{
	display             : inline-block;
	font-size           : toRem(14);
	line-height         : ratio(24, 14);
	font-weight         : bold;
	letter-spacing      : toRem(-0.14);
	text-decoration     : none;
	padding-inline      : toRem(16);
	padding-block-start : toRem(9);
	padding-block-end   : toRem(5);
	color               : inherit;
	border              : 2px solid;
	border-radius       : toRem(6);
	transition          : all 100ms ease-in-out;

	&:active
	{
		color            : var(--seasalt);
		background-color : var(--oxford-blue);
		border-color     : var(--oxford-blue);
	}
}

@property --i
{
	syntax        : "<number>";
	initial-value : 0;
	inherits      : false;

}

.button.primary
{
	--i              : 0;
	--full           : calc((1 - var(--i)) * 100%);
	--half           : calc(49% + (1 - var(--i)) * 51%);

	font-size        : toRem(18);
	line-height      : ratio(32, 18);
	letter-spacing   : toRem(-0.18);
	padding-inline   : toRem(32);
	padding-block    : toRem(14);
	color            : var(--seasalt);
	border           : none;
	background-image : linear-gradient(150deg, var(--oxford-blue) var(--full), var(--medium-slate-blue) var(--full), var(--steel-pink) var(--half), var(--sandy-brown) 100%);
	transition       : --i 150ms ease-in-out;

	&:active
	{
		--i : 1;
	}
}


// Animation --------------------------------------------------------------------

@media (prefers-reduced-motion : reduce)
{
	*
	{
		animation           : none !important;
		transition-duration : 0s !important;
	}
}


// ------------------------------------------------------------------------------
// Tablet -----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(768))
{
	// Typography ---------------------------------------------------------------

	.heading-xl
	{
		font-size      : toRem(56);
		line-height    : ratio(64, 56);
		letter-spacing : toRem(-0.78);
	}


	// Utilities ----------------------------------------------------------------

	.button
	{
		font-size      : toRem(16);
		line-height    : ratio(32, 16);
		letter-spacing : toRem(-0.16);
		padding-inline : toRem(24);
	}
}


// ------------------------------------------------------------------------------
// Desktop ----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(1440))
{
	body
	{
		font-size   : toRem(18);
		line-height : ratio(32, 18);
	}


	// Typography ---------------------------------------------------------------

	.body
	{
		letter-spacing : toRem(0.1);
	}

	.heading-xl
	{
		font-size      : toRem(72);
		line-height    : ratio(78, 72);
		letter-spacing : toRem(-0.1);
	}

	.heading-l
	{
		font-size      : toRem(48);
		line-height    : ratio(56, 48);
		letter-spacing : toRem(-0.5);
	}

	.heading-i
	{
		font-size   : toRem(40);
		line-height : ratio(48, 40);
	}

	.quote
	{
		font-size      : toRem(20);
		line-height    : ratio(35, 20);
		letter-spacing : toRem(0.11);
	}
}
