:root {
  --oxford-blue: hsla(219, 43%, 16%, 1);
  --paynes-gray: hsla(218, 20%, 36%, 1);
  --isabelline: hsla(30, 33%, 93%, 1);
  --seasalt: hsla(30, 29%, 97%, 1);
  --medium-slate-blue: hsla(264, 100%, 69%, 1);
  --steel-pink: hsla(292, 76%, 54%, 1);
  --sandy-brown: hsla(31, 100%, 65%, 1);
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Epilogue", system-ui;
  font-optical-sizing: auto;
  line-height: 1.75;
  color: var(--oxford-blue);
  background-color: var(--seasalt);
}

::selection {
  color: var(--seasalt);
  background-color: var(--medium-slate-blue);
}

img {
  font-style: italic;
  vertical-align: middle;
  max-inline-size: 100%;
  block-size: auto;
  shape-margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  text-wrap: balance;
}

.body {
  letter-spacing: 0.005625rem;
}

.bold {
  font-weight: bold;
}

.heading-xl {
  font-size: 2.375rem;
  line-height: 1.1578947368;
}

.heading-l {
  font-size: 3rem;
  line-height: 1.1666666667;
}

.heading-m,
.heading-s {
  text-transform: uppercase;
}

.heading-m {
  font-size: 1.125rem;
  line-height: 1.7777777778;
  letter-spacing: -0.01125rem;
}

.heading-s {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.15625rem;
}

.heading-i {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.02625rem;
}

.quote {
  font-size: 1.125rem;
  line-height: 1.7777777778;
  letter-spacing: 0.005625rem;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav > ul {
  justify-content: space-between;
}

footer nav > ul {
  column-gap: 1.75rem;
}
footer nav > ul > li > a:active {
  opacity: 0.5;
}

.logo {
  position: relative;
  top: 0.3125rem;
}

header {
  padding-inline: 1rem;
  max-inline-size: 23.4375rem;
  margin-inline: auto;
}
header nav {
  padding-block-start: 1.5rem;
}
header h1 {
  margin-block-start: 5.625rem;
}
header p {
  margin-block-start: 1.9375rem;
}
header > .button {
  margin-block-start: 2.125rem;
}
header > .button {
  margin-block-end: 3.5rem;
}
header > ul {
  text-align: center;
  margin-block-start: 3.4375rem;
  list-style: none;
}
header > ul > li + li {
  margin-block-start: 2rem;
}
header .heading-s {
  margin-block-start: 0.0625rem;
}
header .curve {
  position: absolute;
  inset-inline-start: 6.5625rem;
  inset-block-start: 7.8125rem;
  transform: scale(0.54);
}

main > div {
  text-align: center;
  position: relative;
  max-inline-size: 23.4375rem;
  padding-inline: 1rem;
  padding-block-start: 15.9375rem;
  padding-block-end: 4rem;
  margin-inline: auto;
  margin-block-start: 14.875rem;
  color: var(--seasalt);
  background-color: var(--oxford-blue);
  border-radius: 0.9375rem;
  background-image: url("../assets/pattern-blur.svg");
  background-position: 50% -140%;
  background-repeat: no-repeat;
}
main > div picture {
  position: absolute;
  inset-block-start: -10.875rem;
  inset-inline: 0;
}
main > div .arrow {
  transform: scale(0.76);
}
main > div .heading-i {
  margin-block-start: 1.3125rem;
}
main > div .quote {
  margin-block-start: 2.375rem;
}
main > div figcaption {
  margin-block-start: 2.5rem;
}

footer {
  font-size: 0.9375rem;
  line-height: 2.1333333333;
  letter-spacing: 0.005rem;
  text-align: center;
  padding-block-start: 11.5625rem;
  padding-block-end: 4.25rem;
  margin-block-start: -8.375rem;
  background-color: var(--isabelline);
}
footer > * + * {
  margin-block-start: 2.0625rem;
}
footer > nav {
  margin-block-start: 2rem;
}
footer > nav > ul > li:first-child {
  margin-inline-start: auto;
}
footer > nav > ul > li:last-child {
  margin-inline-end: auto;
}

.button {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: bold;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  padding-inline: 1rem;
  padding-block-start: 0.5625rem;
  padding-block-end: 0.3125rem;
  color: inherit;
  border: 2px solid;
  border-radius: 0.375rem;
  transition: all 100ms ease-in-out;
  user-select: none;
}
.button:active {
  color: var(--seasalt);
  background-color: var(--oxford-blue);
  border-color: var(--oxford-blue);
}

@property --j {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
.button.primary {
  --j: 0;
  --full: calc((1 - var(--j)) * 100%);
  --half: calc(49% + (1 - var(--j)) * 51%);
  font-size: 1.125rem;
  line-height: 1.7777777778;
  letter-spacing: -0.01125rem;
  padding-inline: 2rem;
  padding-block: 0.875rem;
  color: var(--seasalt);
  border: none;
  background-image: linear-gradient(150deg, var(--oxford-blue) var(--full), var(--medium-slate-blue) var(--full), var(--steel-pink) var(--half), var(--sandy-brown) 100%);
  transition: --j 150ms ease-in-out;
}
.button.primary:active {
  --j: 1;
}

.lighter {
  color: var(--paynes-gray);
}

@media (width >= 48rem) {
  header,
  main,
  footer {
    max-inline-size: 48rem;
    margin-inline: auto;
  }
  .heading-xl {
    font-size: 3.5rem;
    line-height: 1.1428571429;
    letter-spacing: -0.04875rem;
  }
  .logo {
    top: 0.0625rem;
  }
  header {
    display: grid;
    grid-template-columns: auto 17.5625rem;
    justify-items: start;
    position: relative;
    padding-inline: 2.5rem;
  }
  header > * {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  header nav,
  header h1,
  header p,
  header > .button {
    grid-row-end: span 1;
  }
  header nav,
  header > ul {
    justify-self: stretch;
  }
  header nav {
    grid-row-start: 1;
    padding-block-start: 2.5rem;
    margin-block-end: 4.875rem;
  }
  header h1,
  header picture {
    grid-row-start: 2;
  }
  header p {
    grid-row-start: 3;
    max-inline-size: 40ch;
    margin-block-start: 2.375rem;
  }
  header > .button {
    grid-row-start: 4;
    margin-block-start: 2.5625rem;
  }
  header > ul {
    display: flex;
    justify-self: stretch;
    justify-content: space-around;
    grid-row-start: 5;
    margin-block-start: 4.5rem;
  }
  header > ul > li + li {
    margin-block-start: unset;
  }
  header picture {
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 1;
    z-index: -1;
  }
  header .curve {
    inset-inline-start: 12.3125rem;
    inset-block-start: 13.375rem;
    transform: scale(0.8);
  }
  main {
    padding-inline: 2.5rem;
  }
  main > div {
    max-inline-size: unset;
    padding-inline: 3.625rem;
    padding-block-start: 15.9375rem;
    margin-block-start: 17.125rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding-inline: 2.5rem;
    padding-block-start: 33.4375rem;
    padding-block-end: 4.5625rem;
    margin-block-start: -29rem;
  }
  footer > * + * {
    margin-block-start: unset;
  }
  footer > nav {
    position: relative;
    inset-block-start: 0.5rem;
    margin-block-start: unset;
  }
  footer > nav > ul > li:first-child {
    margin-inline-start: unset;
  }
  footer > nav > ul > li:last-child {
    margin-inline-end: unset;
  }
  .button {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: -0.01rem;
    padding-block-start: 0.625rem;
    padding-block-end: 0.75rem;
    padding-inline: 1.5rem;
  }
}
@media (width >= 90rem) {
  body {
    font-size: 1.125rem;
    line-height: 1.7777777778;
  }
  header,
  main,
  footer {
    max-inline-size: 90rem;
    padding-inline: 10.25rem;
    margin-inline: auto;
  }
  .body {
    letter-spacing: 0.00625rem;
  }
  .heading-xl {
    font-size: 4.5rem;
    line-height: 1.0833333333;
    letter-spacing: -0.00625rem;
  }
  .heading-l {
    font-size: 3rem;
    line-height: 1.1666666667;
    letter-spacing: -0.03125rem;
  }
  .heading-i {
    font-size: 3rem;
    line-height: 1.1666666667;
    letter-spacing: -0.03125rem;
  }
  .quote {
    font-size: 1.25rem;
    line-height: 1.75;
    letter-spacing: 0.006875rem;
  }
  header {
    grid-template-columns: 237fr 175fr 143fr;
  }
  header nav {
    grid-column-end: span 3;
    padding-block-start: 3.125rem;
    margin-block-end: 4.0625rem;
  }
  header h1 {
    margin-block-start: 6.4375rem;
  }
  header p {
    margin-block-start: 2.5rem;
  }
  header > .button {
    margin-block-start: 3.25rem;
  }
  header > ul {
    display: unset;
    justify-self: unset;
    justify-content: unset;
    grid-row-start: 2;
    grid-row-end: span 3;
    grid-column-start: 3;
    text-align: unset;
    margin-inline: auto;
    margin-block-start: 6.625rem;
  }
  header > ul > li + li {
    margin-block-start: 3.9375rem;
  }
  header .curve {
    inset-inline-start: 18.75rem;
    transform: unset;
  }
  main > div {
    text-align: unset;
    padding-inline-start: 39.625rem;
    padding-inline-end: 7.8125rem;
    padding-block-start: 5.5rem;
    padding-block-end: 5.4375rem;
    margin-block-start: 12.4375rem;
    background-position: 7% 500%;
  }
  main > div picture {
    inset-inline-start: 7.625rem;
    inset-block-start: unset;
    inset-block-end: 0;
    pointer-events: none;
  }
  main > div .arrow {
    position: absolute;
    inset-inline-start: 32.8125rem;
    inset-block-start: 15.75rem;
    transform: unset;
  }
  main > div .heading-i {
    margin-block-start: unset;
  }
  main > div .quote {
    margin-block-start: 2.5625rem;
  }
  footer {
    padding-block-start: 22.4375rem;
    margin-block-start: -16.5625rem;
  }
}
@media (width >= 90rem) and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0s !important;
  }
}
@media (width >= 90rem) {
  .animate {
    --duration: 450ms;
    --stagger: 0.4;
    --delay: calc(var(--i) * var(--stagger) * var(--duration));
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-play-state: var(--play-state, running);
  }
  .slide-in {
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: slide-in;
  }
  .slide-in.reverse {
    animation-name: slide-in-reverse;
  }
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-3vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-in-reverse {
    from {
      opacity: 0;
      transform: translateX(3vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*# sourceMappingURL=index.css.map */
